<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{#unless user}}
Home page



<div>
  <a href="/auth/google">Login google </a>
</div>
<div>
  <a href="/auth/github">Login github</a>
</div>
{{/unless}}



